:root {
    --background-primary: #24262c;
    --background-secundary: #f46a00;
    --background-login: #e9914d;
    --background-color: #ECA455;
    --primary-color: #fff;
    --secundary-color: #000000;
    --warning-color: rgb(240, 129, 18);
    --success-color: rgb(13, 176, 1);
    --info-color: rgb(8, 121, 220);
    --info-form-color: #27973d;
    --danger-color: rgb(221 37 37);
    /*--font-color-primary: #620037;*/
    --font-color-primary: #000000;
    --font-color-base: #47772e;

    --font-primary: 'Aharoni', sans-serif;
    --font-secundary: 'Oswald', sans-serif;
}

.btn-danger {
    background-color: var(--danger-color) !important;
    border-color: var(--danger-color) !important;
}

.bg-dark {
    background-color: var(--background-color) !important;
}

.btn-info {
    background-color: var(--info-color) !important;
    border-color: var(--info-color) !important;
}

.btn-success {
    background-color: var(--success-color) !important;
    border-color: var(--success-color) !important;
}

.btn-warning {
    background-color: var(--warning-color) !important;

    border-color: var(--+--warning-color) !important;

}

#cards {
    margin-top: 8%;
}

.btn-info-form {
    background-color: var(--info-form-color) !important;
    border-color: var(--info-form-color) !important;
    color: var(--primary-color);
}

.title-h1 {
    font-family: var(--font-primary) !important;
    font-size: 40px;
    color: var(--font-color-primary);
    margin-top: 25px;
}

.home-p {
    font-family: var(--font-primary) !important;
    font-size: 30px;
    color: var(--font-color-primary);
    margin-top: 20%;
    margin-left: 50%;
}

.bg-light {
    border: none !important;
}

/* .home{
    background-image:url(../assets/img/fondo/home.svg);
    width: 80%;
    height: 80vh;
    margin-top: 3%;
    margin-left: 5%;
    background-size: cover;
} */

.img-card {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.row {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.card-home {
    margin: 5px;
    width: 300px;
    box-shadow: rgba(0.4, 7.8, 35.3, 0.4) 5px 5px, rgba(0.4, 7.8, 35.3, 0.3) 10px 10px, rgba(0.4, 7.8, 35.3, 0.2) 15px 15px, rgba(0.4, 7.8, 35.3, 0.1) 20px 20px, rgba(0.4, 7.8, 35.3, 0.05) 25px 25px;
}

.col-sm-4 {
    width: 25%;
}

.li-item {
    list-style: none;
}

.nombre-item {
    width: 40%;
}

.cantidad-item {
    width: 30%;
}

.button-edit-item,
.button-delete-item {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
}