:root{
    --background-modal: #eeb67b;
}
.modalInicial{
    background-color: rgba(0, 0, 0, .75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;    
    display: none;
    justify-content: center;
    align-items: center;
}

#btns-modal-footer{
    margin-top: 20px;
}

.contenido__modal{
    background-color: var(--background-modal) !important;
    padding: 10px;
    width: 980px;
}

.modal-conduct{
    height: 90vh;
}

.modal-vehicle{
    height: 90vh;
}

.modal-ruta{
    height: 70vh;
}

.modal-gasto-ruta{
    height: 500px;
    width: 60% !important;
    margin-left: 20% !important;
}


.container-expenses{
    height: 500px;
}

.modal-mantenimiento{
    height: 70vh;
}

.modal-content{
    border-radius: 1.2rem !important;
}

.modal-body{
    overflow-y: scroll;
}

.modal-abierta{
    display: flex;
}

#btnCloseModalRoutes{
    margin-left: 98%;
}

.contenido__modal h1{
    text-align: center;
}


.modal-btn{
    text-align: center;
}

.modal-btn .btn{
    margin: 0 10px;
}


.modal-dialog{
    max-width: 1000px !important;
    margin: 1rem auto !important;
    width: 100% !important;
}

.modal-label{
    padding-top: 15px;
}

.invalid {
    border:1px solid red !important;
   }
   input, textarea {
    outline: none !important;
    box-shadow: none !important; 
  }

.align-items-start{
    padding-bottom: 10px;
}

.input-form{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
    border-radius: 0.5rem !important;
}

.modal-header{
    justify-content: center !important;
    color: rgb(0, 0, 0);
}

.h6{
    margin-top: 10px !important;
}

.logo-form{
    width: 25%;
}

.label-form{
    margin-top: 10%;
}

.label-form-placa{
    margin-top: 15%;
}

.label-form-tipo{
    margin-top: 8%;
}

.label-form-mecanica{
    margin-top: 6%;
}

.modal-title{
    position: absolute;
    justify-content: center !important;
}

.input-error{
    border: 2px solid var(--danger-color);
}

.error-message{
    color: var(--danger-color);
}

.btn-agregar{
    padding-top: 36px;
}